
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
body {
    font-family: 'Source Sans Pro', sans-serif;
  }
nav .nav-extended ul {
    text-align: center;
}
nav.nav-extended ul li {
    diasplay: inline;
    float: none;
}
nav.nav-extended ul li a {
    display: inline-block;
}
nav .nav-wrapper {
      text-align: center;
}
nav.nav-extended .nav-content {
  text-align: center;
}
.page11  h2 { 
  color: black;
  margin: 0rem 0 1.4rem 0;
	text-align: center;
  
}
.page11 {
   padding: 0;
   margin: 0;
   background-image: url("/Users/Adonay/Desktop/galvanize/galvanize/portfolio/Portfolio/assets/light-bulb.jpg");
   background-repeat: no-repeat;
   height: -webkit-fill-available;  
   background-size: cover;
  
   
 }

.page22{
 padding: 0;
   maaargin: 0;
   background-image: url("/Users/Adonay/Desktop/galvanize/galvanize/portfolio/Portfolio/assets/light-blue-background-2.jpg");
   background-repeat: no-repeat;
   height: -webkit-fill-available;
   background-size: cover;
 }

.page33{
 padding: 0;
   margin: 0;
   background-image: url("/Users/Adonay/Desktop/galvanize/galvanize/portfolio/Portfolio/assets/ight-blue-background-2.jpg");
   background-repeat: no-repeat;
   height: -webkit-fill-available;  
   background-size: cover;
   
}
.page44{
 padding: 0;
   margin: 0;
   background-image: url("/Users/Adonay/Desktop/galvanize/galvanize/portfolio/Portfolio/assets/light-bulb.jpg");
   background-repeat: no-repeat;
   height: -webkit-fill-available;  
   background-size: cover;
   
}
.page55{
 padding: 0;
   margin: 0;
   background-image: url("/Users/Adonay/Desktop/galvanize/galvanize/portfolio/Portfolio/assets/light-bulb.jpg");
   background-repeat: no-repeat;
   height: -webkit-fill-available;  
   background-size: cover;
   
}
